version: '3.8'
services:
  # ----- NGINX REVERSE PROXY -----
  nginx-proxy:
    image: nginx:alpine
    container_name: karga-gateway
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - auth-service
      - driver-service
      - payment-service
      - trip-service
      - user-service
    networks:
      - karga-network
  # ----- Microservices Start -----
  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    #    ports:
    #      - "8084:8084"
    secrets:
      - auth_db_password
      - redis_username
      - redis_password

    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - auth-db
      - karga-redis
      - karga-kafka
    networks:
      - karga-network

  driver-service:
    build:
      context: .
      dockerfile: driver-service/Dockerfile
    #    ports:
    #      - "8085:8085"
    secrets:
      - driver_db_password
      - redis_username
      - redis_password

    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - driver-db
      - karga-redis
      - karga-kafka
    networks:
      - karga-network

  payment-service:
    build:
      context: .
      dockerfile: payment-service/Dockerfile
    #    ports:
    #      - "8086:8086"
    secrets:
      - payment_db_password
      - redis_username
      - redis_password
      - stripe_webhook_secret
      - stripe_api_key

    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - payment-db
      - karga-redis
      - karga-kafka
    networks:
      - karga-network

  trip-service:
    build:
      context: .
      dockerfile: trip-service/Dockerfile
    #    ports:
    #      - "8087:8087"
    secrets:
      - trip_db_password
      - redis_username
      - redis_password
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - trip-db
      - karga-redis
      - karga-kafka
    networks:
      - karga-network

  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    #    ports:
    #      - "8088:8088"
    secrets:
      - user_db_password
      - redis_username
      - redis_password

    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - user-db
      - karga-redis
      - karga-kafka
    networks:
      - karga-network

  # ----- POSTGRES DB START -----

  auth-db:
    image: postgres:18-alpine
    container_name: auth-db-karga
    restart: always
    secrets:
      - auth_db_password
    ports:
      - "5432:5432"

    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/auth_db_password
      POSTGRES_USER: karga
      POSTGRES_DB: auth_db
    volumes:
      - auth-postgres-data:/var/lib/postgresql
    networks:
      - karga-network

  driver-db:
    image: postgres:18-alpine
    container_name: driver-db-karga
    restart: always
    ports:
      - "5433:5432"
    secrets:
      - driver_db_password

    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/driver_db_password
      POSTGRES_USER: karga
      POSTGRES_DB: driver_db
    volumes:
      - driver-postgres-data:/var/lib/postgresql
    networks:
      - karga-network

  payment-db:
    image: postgres:18-alpine
    container_name: payment-db-karga
    restart: always
    ports:
      - "5435:5432"
    secrets:
      - payment_db_password
    command: [ "postgres", "-c", "wal_level=logical" ]

    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/payment_db_password
      POSTGRES_USER: karga
      POSTGRES_DB: payment_db
    volumes:
      - payment-postgres-data:/var/lib/postgresql
    networks:
      - karga-network

  trip-db:
    image: postgres:18-alpine
    container_name: trip-db-karga
    restart: always
    ports:
      - "5434:5432"
    secrets:
      - trip_db_password
    command: [ "postgres", "-c", "wal_level=logical" ]
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/trip_db_password
      POSTGRES_USER: karga
      POSTGRES_DB: trip_db
    volumes:
      - trip-postgres-data:/var/lib/postgresql
    networks:
      - karga-network

  user-db:
    image: postgres:18-alpine
    container_name: user-db-karga
    restart: always
    ports:
      - "5436:5432"
    secrets:
      - user_db_password

    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/user_db_password
      POSTGRES_USER: karga
      POSTGRES_DB: user_db
    volumes:
      - user-postgres-data:/var/lib/postgresql
    networks:
      - karga-network


  # ----- REDIS START -----
  karga-redis:
    image: redis:7-alpine
    container_name: karga-redis
    restart: always
    secrets:
      - redis_username
      - redis_password
    command: >
      /bin/sh -c "
      mkdir -p /usr/local/etc/redis &&
      echo 'user '$(cat /run/secrets/redis_username)' on >'$(cat /run/secrets/redis_password)' ~* +@all' > /usr/local/etc/redis/users.acl &&
      redis-server --aclfile /usr/local/etc/redis/users.acl
      "
    ports:
      - "6379:6379"
    networks:
      - karga-network

  # ----- KAFKA START -----
  karga-kafka:
    image: apache/kafka:4.1.1
    container_name: karga-kafka
    restart: always
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      # DEFINING LISTENERS
      # 1. CONTROLLER: Internal metadata management (9093)
      # 2. PLAINTEXT: Internal Docker network communication (29092)
      # 3. EXTERNAL: Connection from your Host Machine/IDE (9092)
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9092

      # ADVERTISING ADDRESSES
      # Clients inside Docker see "karga-kafka:29092"
      # Clients outside Docker see "localhost:9092"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://karga-kafka:29092,EXTERNAL://localhost:9092

      # MAPPING PROTOCOLS
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

    networks:
      - karga-network
    volumes:
      - karga-kafka-data:/var/lib/kafka/data
    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list" ]
      interval: 10s
      timeout: 5s
      retries: 5
  # ----- DEBEZIUM START -----
  karga-connect:
    image: debezium/connect:3.0.0.Final
    container_name: karga-debezium
    ports:
      - "8083:8083"
    environment:
      - BOOTSTRAP_SERVERS=karga-kafka:29092
      - GROUP_ID=1
      - CONFIG_STORAGE_TOPIC=my_connect_configs
      - OFFSET_STORAGE_TOPIC=my_connect_offsets
      - STATUS_STORAGE_TOPIC=my_connect_statuses
      - KEY_CONVERTER_SCHEMAS_ENABLE=false
      - VALUE_CONVERTER_SCHEMAS_ENABLE=false
    depends_on:
      - karga-kafka
      - trip-db
      - payment-db
    networks:
      - karga-network


secrets:
  auth_db_password:
    file: ./secrets/auth_db_password
  driver_db_password:
    file: ./secrets/driver_db_password
  payment_db_password:
    file: ./secrets/payment_db_password
  redis_password:
    file: ./secrets/redis_password
  redis_username:
    file: ./secrets/redis_username
  trip_db_password:
    file: ./secrets/trip_db_password
  user_db_password:
    file: ./secrets/user_db_password
  stripe_api_key:
    file: ./secrets/stripe_api_key
  stripe_webhook_secret:
    file: ./secrets/stripe_webhook_secret

networks:
  karga-network:
    driver: bridge

volumes:
  auth-postgres-data:
  driver-postgres-data:
  payment-postgres-data:
  trip-postgres-data:
  user-postgres-data:
  karga-kafka-data:


