apiVersion: v1
kind: Service
metadata:
  name: driver-service
  namespace: app-prod
spec:
  selector:
    app: driver-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: management
      port: 9090
      targetPort: 9090
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: driver-service
  namespace: app-prod
spec:
  selector:
    matchLabels:
      app: driver-service
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9090"
        prometheus.io/path: "/actuator/prometheus"
      labels:
        app: driver-service
    spec:
      containers:
        - name: driver-service
          image: quay.io/alpeerkaraca/karga-driver-service:latest
          imagePullPolicy: Always

          command: [ "java", "-javaagent:/app/agent.jar", "org.springframework.boot.loader.launch.JarLauncher" ]

          env:
            - name: VAULT_HOST
              value: "vault-server"
            - name: VAULT_PORT
              value: "8200"
            - name: VAULT_SCHEME
              value: "https"

            - name: SPRING_CLOUD_VAULT_SSL_TRUST_STORE
              value: file:///etc/certs/vault.jks
            - name: VAULT_TRUSTSTORE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vault-approle-creds
                  key: VAULT_TRUSTSTORE_PASSWORD

            - name: VAULT_ROLE_ID
              valueFrom:
                secretKeyRef:
                  name: vault-approle-creds
                  key: DRIVER_VAULT_ROLE_ID
            - name: VAULT_SECRET_ID
              valueFrom:
                secretKeyRef:
                  name: vault-approle-creds
                  key: DRIVER_VAULT_SECRET_ID

            - name: OTEL_SERVICE_NAME
              value: "driver-service"
            - name: OTEL_LOGS_EXPORTER
              value: "none"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://jaeger.mon-prod.svc.cluster.local:4317"
            - name: OTEL_METRICS_EXPORTER
              value: "none"
            - name: OTEL_TRACES_EXPORTER
              value: "otlp"
            - name: OTEL_EXPORTER_OTLP_PROTOCOL
              value: "grpc"
            - name: SPRING_PROFILES_ACTIVE
              value: "k8s"
            - name: SERVER_PORT
              value: "8080"
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "none"

          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1000m"
              memory: "1000Mi"

          startupProbe:
            httpGet:
              port: 9090
              path: /actuator/health/liveness
            periodSeconds: 5
            failureThreshold: 60
            initialDelaySeconds: 20

          livenessProbe:
            httpGet:
              port: 9090
              path: /actuator/health/liveness
            initialDelaySeconds: 20

          readinessProbe:
            httpGet:
              port: 9090
              path: /actuator/health/readiness
            initialDelaySeconds: 30
          volumeMounts:
            - name: truststore-volume
              mountPath: /etc/certs
              readOnly: true
      volumes:
        - name: truststore-volume
          secret:
            secretName: vault-truststore


