apiVersion: apps/v1
kind: Deployment
metadata:
  name: driver-service
  namespace: app-prod
spec:
  selector:
    matchLabels:
      app: driver-service
  template:
    metadata:
      labels:
        app: driver-service
    spec:
      containers:
        - name: driver-service
          image: localhost/karga/driver-service:v1
          imagePullPolicy: Never

          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "k8s"

          volumeMounts:
            - name: secret-volume
              mountPath: "/etc/secrets"
              readOnly: true
            - name: certs-volume
              mountPath: "/etc/certs"
              readOnly: true
      volumes:
        - name: secret-volume
          secret:
            secretName: karga-secrets
        - name: certs-volume
          secret:
            secretName: auth-jwt-keys
---
apiVersion: v1
kind: Service
metadata:
  name: driver-service
  namespace: app-prod
spec:
  selector:
    app: driver-service
  ports:
    - port: 8085
      targetPort: 8085

