apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: karga-pool
  namespace: data-prod
  labels:
    strimzi.io/cluster: karga-kafka
spec:
  replicas: 1
  roles:
    - broker
    - controller
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: 10Gi
        deleteClaim: false
---
apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: karga-kafka
  namespace: data-prod
  annotations:
    strimzi.io/node-pools: enabled
    strimzi.io/kraft: enabled
spec:
  kafka:
    version: 4.1.0
    metadataVersion: 4.1.IV0
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false

      - name: tls
        port: 9093
        type: internal
        tls: true

      - name: external
        port: 9094
        type: nodeport
        tls: false
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      default.replication.factor: 1
      replication.factor: 1
      min.insync.replicas: 1
      log.message.format.version: "4.1"
  kafkaExporter:
    topicRegex: ".*"
    groupRegex: ".*"
