apiVersion: v1
kind: Service
metadata:
  name: trip-service
  namespace: app-prod
spec:
  selector:
    app: trip-service
  ports:
    - port: 80
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip-service
  namespace: app-prod
spec:
  selector:
    matchLabels:
      app: trip-service
  template:
    metadata:
      labels:
        app: trip-service
    spec:
      containers:
        - name: trip-service
          image: localhost/karga/trip-service:latest
          imagePullPolicy: Never

          env:
            - name: VAULT_HOST
              value: "192.168.49.1"
            - name: VAULT_PORT
              value: "8200"
            - name: VAULT_SCHEME
              value: "https"

            - name: SPRING_CLOUD_VAULT_SSL_TRUST_STORE
              value: file:///etc/certs/vault.jks
            - name: VAULT_TRUSTSTORE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vault-approle-creds
                  key: VAULT_TRUSTSTORE_PASSWORD

            - name: VAULT_ROLE_ID
              valueFrom:
                secretKeyRef:
                  name: vault-approle-creds
                  key: TRIP_VAULT_ROLE_ID
            - name: VAULT_SECRET_ID
              valueFrom:
                secretKeyRef:
                  name: vault-approle-creds
                  key: TRIP_VAULT_SECRET_ID

            - name: SPRING_PROFILES_ACTIVE
              value: "k8s"

            - name: SERVER_PORT
              value: "80"
          volumeMounts:
            - name: truststore-volume
              mountPath: /etc/certs
              readOnly: true
      volumes:
        - name: truststore-volume
          secret:
            secretName: vault-truststore